header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--main-color);
  z-index: 1;
}

.header-items {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.img-logo {
  width: 200px;
  height: 120px;
}

@media (min-width: 578px) {
  .img-logo {
  width: 280px;
  height: 160px;
  }
}