.pages-container {
  width: 100%;
  height: 100%;
  margin-bottom: 8rem;
}

.before-background-style {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #701faf 75%, #000000);
  opacity: 0.35;
}
